
.div-corpo-menu{
  width:100%;
  height:190vh;
  background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(immagini/sfondoMenu.jpg);
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center; 
  box-sizing: border-box;
  background-attachment: fixed;
  padding:1px;
  z-index: -1;
}
.div-corpo-ordinazioni{
  width:100%;
  height:190vh;
  background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(immagini/sfondoOrdinazioni.jpg);
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center; 
  box-sizing: border-box;
  background-attachment: fixed;
  padding:1px;
  z-index: -1;
  overflow: auto;
}
.div-corpo-dispensa{
  width:100%;
  height:190vh;
	position:unset;
  background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(immagini/sfondoDispensa.jpg);
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center; 
  box-sizing: border-box;
  background-attachment: fixed;
  padding:1px;
  z-index: -1;
	overflow: auto;
}
h1{
  font-size: 60px;
}

@import url(https://fonts.googleapis.com/css?family=Rock+Salt);
.classedeldiv{
  width:100%;
  background-image:url(http://subtlepatterns.subtlepatterns.netdna-cdn.com/patterns/subtle_surface.png);
  background-position:initial initial;
	background-repeat:initial initial;
  margin-top: 35px;
}
h4 {
	color:#ece7e7;
	text-align:center;
	letter-spacing:0.15em;
	font-weight:700;
	font-size:2.6em;
	padding:10px 0 0 0;
	text-transform:uppercase;
	text-shadow:0px 2px 3px #000000;
	margin:0px;
}
.paper {
	position:relative;
	border:1px solid #dedede;
	color:#555;
	font-family:'Rock Salt',cursive;
	font-size:20px;
	padding:0px;
	width:800px;
	margin:0 auto;
	background-image:url(https://subtlepatterns.com/patterns/paper_1.png);
  background-color: #fff;
	background-position:initial initial;
	background-repeat:initial initial;
	box-shadow:0 0 5px rgba(0,0,0,0.3),inset 0 0 50px rgba(0,0,0,0.3);
}
.paper li {
  border-bottom:1px dotted #ccc;
	cursor: pointer;
  list-style:none;
	padding:10px 10px 10px 55px;
	position:relative;
	text-transform:capitalize;
	transition:all 0.3s ease-in-out;
}
.paper:before,.paper:after {
	position:absolute;
	width:40%;
	height:10px;
	content:' ';
	left:12px;
	bottom:12px;
	background:transparent;
	transform:skew(-5deg) rotate(-5deg);
	box-shadow:0 6px 12px rgba(0,0,0,0.3);
	z-index:-1;
}
.paper li:before {
	border-left:3px double #ffaa9f;
	content:'';
	height:110%;
	left:35px;
	position:absolute;
	top:-5%;
}
.paper:after {
	left:auto;
	right:12px;
	transform:skew(5deg) rotate(5deg);
}
.paper li.strike {
	text-decoration:line-through;
}
.paper li:hover {
	background-color: rgba(255, 112, 112, 0.3);
}

div.table-title {
  display: block;
  margin: auto;
  max-width: 600px;
  padding:5px;
  width: 100%;
}

.table-title h3 {
   color: #fafafa;
   font-size: 30px;
   font-weight: 400;
   font-style:normal;
   text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
   text-transform:uppercase;
}

.table-fill {
  background: white;
  border-radius:3px;
  border-collapse: collapse;
  height: 320px;
  margin: auto;
  max-width: 600px;
  padding:5px;
  width: 100%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  animation: float 5s infinite;
}
 
th {
  color:#D5DDE5;;
  background:#1b1e24;
  border-bottom:4px solid #9ea7af;
  border-right: 1px solid #343a45;
  font-size:23px;
  font-weight: 100;
  padding:24px;
  text-align:left;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  vertical-align:middle;
}

th:first-child {
  border-top-left-radius:3px;
}
 
th:last-child {
  border-top-right-radius:3px;
  border-right:none;
}
  
tr {
  border-top: 1px solid #C1C3D1;
  border-color: 1px solid #C1C3D1;
  color:#666B85;
  font-size:16px;
  font-weight:normal;
  text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}
 
tr:hover td {
  background:#4E5066;
  color:#FFFFFF;
  border-top: 1px solid #22262e;
}
 
tr:first-child {
  border-top:none;
}

tr:last-child {
  border-bottom:none;
}
 
tr:nth-child(odd) td {
  background:#EBEBEB;
}
 
tr:nth-child(odd):hover td {
  background:#4E5066;
}

tr:last-child td:first-child {
  border-bottom-left-radius:3px;
}
 
tr:last-child td:last-child {
  border-bottom-right-radius:3px;
}
 
td {
  background:#FFFFFF;
  padding:20px;
  text-align:left;
  vertical-align:middle;
  font-weight:300;
  font-size:18px;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
  border-right: 1px solid #C1C3D1;
}

td:last-child {
  border-right: 0px;
}

th.text-left {
  text-align: left;
}

th.text-center {
  text-align: center;
}

th.text-right {
  text-align: right;
}

td.text-left {
  text-align: left;
}

td.text-center {
  text-align: center;
}

td.text-right {
  text-align: right;
}
@import url(https://fonts.googleapis.com/css?family=Give+You+Glory|The+Girl+Next+Door|Gloria+Hallelujah|Indie+Flower);

body {
  background: #eee;
}
.post {
  -webkit-box-shadow: #DDD 0px 1px 2px;
  position: relative;
  background-color: #F4F39E;
  border-color: #DEE184;
  color: #47576B;
  text-align: center;
  margin: 2.5em 0px;
  padding: 1.5em 1em;
  -webkit-box-shadow: 0px 1px 3px rgba(0,0,0,0.25);
  -moz-box-shadow: 0px 1px 3px rgba(0,0,0,0.25);
  box-shadow: 0px 1px 3px rgba(0,0,0,0.25);
  width: 250px;
  font-family: 'Indie Flower', cursive;
  font-family: 'Give You Glory', cursive;
  font-family: 'The Girl Next Door', cursive;
  font-family: 'Gloria Hallelujah', cursive;
}
.post-it {
  display: table;
  margin: 5em auto 0;  
  width:500px;
}
.taped {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
.post.taped{
  font-size: 15px;
}
.post.taped:after {
  display: block;
  content: "";
  position: absolute; 
  width: 110px;
  height: 30px;
  top: -21px;
  left: 30%;    
  border: 1px solid #fff;
  background: rgba(254, 254, 254, .6);
  -webkit-box-shadow: 0px 0 3px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 0 3px rgba(0,0,0,0.1);
  box-shadow: 0px 0 3px rgba(0,0,0,0.1);  
  margin-left: 50px;
	z-index: 1px;
}

.note { 
-webkit-box-shadow: #DDD 0px 1px 2px;
  position: relative;
  background-color: #F4F39E;
  border-color: #DEE184;
  text-align: center;
  margin: 1.5em auto;
  padding: 1.5em 1em;
  -webkit-box-shadow: 0px 1px 3px rgba(0,0,0,0.25);
  -moz-box-shadow: 0px 1px 3px rgba(0,0,0,0.25);
  box-shadow: 0px 1px 3px rgba(0,0,0,0.25);
  -webkit-transform: rotate(2deg);
  -moz-transform: rotate(2deg);
  -o-transform: rotate(2deg);
  -ms-transform: rotate(2deg);
  transform: rotate(2deg);
  width: 250px;
  font-family: 'The Girl Next Door', cursive; /*originally with brain flower font*/
  font-size: 1em;
}
.note:after {
  display: block;
  content: "";
  position: absolute; 
  width: 110px;
  height: 30px;
  top: -21px;
  left: 30%;    
  border: 1px solid #fff;
  background: rgba(254, 254, 254, .6);
  -webkit-box-shadow: 0px 0 3px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 0 3px rgba(0,0,0,0.1);
  box-shadow: 0px 0 3px rgba(0,0,0,0.1);  
}

.sectionPost {
  display: flex;
  width: 100%;
  overflow: auto;
}
.post-left {
  flex: 1;
  padding: 20px;
  width: 45%;

}
.post-right {
  flex: 1;
  padding: 20px;
  width:45%;
}